* {
  padding:0;
  margin:0;
  
}

/* ---- Side bar menu  ---- */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  color: #818181;
  display: block;
  transition: 0.3s;
  background-color: #111;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.logomini {
  width:90%;
  height: auto;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 20px;
  margin-left: auto;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 5px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
}
/* ---- TopNav  ---- */
* {
    background: #424242;
}
.topnav {
  overflow: hidden;
  background-color: #424242;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
 
}

.topnavdropdown {
  float: right;
  overflow: hidden;
}

.topnavdropdown .topnavdropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 5px 16px;
  background-color: #424242;
  font-family: inherit;
  margin: 0;
}
.topnav a:hover, .topnavdropdown:hover .topnavdropbtn {
  background-color: #3b7fb2;
  color: white;
}
.topnavdropdown-content {
  display: none;
  background-color: #3b7fb2;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.topnavdropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnavdropdown-content a:hover {
  background-color: #424242;
}

.topnavdropdown:hover .topnavdropdown-content {
  display: block;
}
.title {
  font-size: 2.5rem;
  Background-color: white;
  font-family: Montserrat, sans-serif;
  text-weight: bold;
  magin: 3rem;
}
/* ---- Tab Section  ---- */
/* ---- Tab Section  ---- */
.tab-background {
  background-color: #EEEEEE;
  text-align: center;
}
.tab-section {
  text-decoration:none;
  text-align: center;
  background-color: #0D47A1;
  padding: 10px;
  width: 22%;
  min-width: 30px;
  margin:1%;
  display: inline-block;
  border: 1px solid rgb(120,120,125);
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tab-section a{
    color:white;
    text-decoration: none;
}

.tab-section:hover {
    opacity: 0.8;
}

{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #3b7fb2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


/* Full-width input fields */
.form-container select[id=text], .form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,500,300);

body {
  background: #ebeff2;
  font-family: "Exo 2";
}

.zone {      
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  background: radial-gradient(ellipse at center,#afcbe0 0,#c3d5e3 100%);
  width:100%;
  height:50%;  
  border:2px dashed white;
  text-align:center;
  color: white;
  z-index: 20;
  transition: all 0.3s ease-out;
  box-shadow: 0 0 0 1px rgba(255,255,255,.05),inset 0 0 .25em 0 rgba(0,0,0,.25);
  .btnCompression {
    .btn {

    } 
    .active {
      background: #3b7fb2;
      color:white;
    }
  }
  i {
    text-align: center;
    font-size: 10em;  
    color:#fff;
    margin-top: 50px;
  }
  .selectFile {
    height: 50px;
    margin: 20px auto;
    position: relative;
    width: 100px;          
  }

  label, input {
    cursor: pointer;
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    border-radius: 5px; 
  }

  label {
    background: #fff;
    color:#EB6A5A;
    display: inline-block;
    font-size: 1.2em;
    line-height: 50px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 400;   
    box-shadow: 0 1px 1px gray;
  }

  input[type=file] {
    opacity: 0;
  }

}
.zone.in {
  color:white;
  border-color:white;
  background: radial-gradient(ellipse at center,#3b7fb2 0,#1d74b5 100%);
  i {          
    color:#fff;
  }
  label {
    background: #fff;
    color:##3b7fb2;
  }
}
.zone.hover {
  color:gray;
  border-color:white;
  background:#fff;
  border:5px dashed gray;
  i {          
    color:#3b7fb2;
  }
  label {
    background: #fff;
    color:#3b7fb2;
  }
}
.zone.fade {
  transition: all 0.3s ease-out;
  opacity: 1;
}

/* When the inputs get focus, do something */
.form-container select[name=Training_Category]:focus, .form-container input[type=Training_Title]:focus {
  background-color: #ddd;
  outline: #3b7fb2;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #3b7fb2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: grey;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
       
    
}
/* ---- Training  ---- */
.Training_Title {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  margin: 10px;
}
.collapsible {
  background-color: inherit;
  color: Black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  
}

.collapsible:hover {
  background-color: #555;
  color: white;
}
.collapsible:after {
  content: '\002B';
  color: #3b7fb2;
  font-weight: bold;
  float: right;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #555;
  transistion: max-height 0.2s ease-out;
}


table, th, td {
  border-collapse: collapse;
  font-family: Montserrat, sans-serif;
  Margin-bottom: 10px;
  padding: 10px;
}
th, td {
  text-align: left; 
  border: 2px solid white;
  width:50%;
}
th{
  background-Color: #3b7fb2;
  color: White;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}
td{
  background-color:#BDBDBD;
  font-size: 12px;
}
.completed {
  color: green;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-Weight: 400px;
}
span.incomplete {
  color: red;
}
strong {
  float: right;
  padding-right:10px;
  color: black;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}